<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/weather_.png">
        <p>Hi , everyone !! This is just a simple weather app which I created for my NodeJS project :) .</p>
    </div>
    {{>footer}}
</body>

</html>